@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 0.0520833333vw;
}

.container {
  width: 1616rem;
  margin-left: calc((100vw - 1616rem) / 2);
  margin-right: calc((100vw - 1616rem) / 2);
}

.heading {
  font-weight: 700;
  font-size: 70rem;
}

.header {
  z-index: 11;
  position: fixed;
  padding-top: 37rem;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 100rem;
  height: 28rem;
  margin-right: 524rem;
}

.header-nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24rem;
  margin-right: 137rem;
}

.header-nav__item, .header-contacts__phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #434343;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 63rem;
}

.header-contacts__form-btn {
  width: 200rem;
  height: 40rem;
  background: #0389cd;
  background-repeat: 4rem;
  font-weight: 400;
  font-size: 16rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.front-block {
  position: relative;
  padding-top: 340rem;
  padding-bottom: 250rem;
}
.front-block .container {
  position: relative;
  z-index: 2;
}

.front-block__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 55rem;
  color: #000;
  margin-bottom: 20rem;
}

.front-block__text {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 60rem;
  line-height: 83%;
  color: #000;
  max-width: 812rem;
  margin-bottom: 85rem;
}
.front-block__text span {
  font-family: inherit;
  color: #0389cd;
}

.front-block__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  border-radius: 4rem;
  width: 250rem;
  height: 60rem;
  margin-bottom: 148rem;
  background: #0389cd;
}

.front-block__pluss {
  display: flex;
  gap: 70rem;
  align-items: center;
}

.front-block__pluss__item {
  display: flex;
  align-items: center;
  gap: 12rem;
  max-width: 242rem;
}

.front-block__pluss__item__num {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65rem;
  height: 65rem;
  border-radius: 100%;
  background: #0389cd;
  flex-shrink: 0;
}

.front-block__pluss__item__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  line-height: 115%;
  color: #575757;
}

.front-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_us {
  margin: 80rem 0;
  overflow: hidden;
}
.about_us .container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}

.about_us__content {
  width: 760rem;
  position: relative;
}
.about_us__content::after {
  content: "";
  display: block;
  height: calc(100% - 84rem);
  width: calc(100% + 410rem);
  border: 7rem solid #0389cd;
  top: 122rem;
  right: -45rem;
  position: absolute;
}

.about_us_heading {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 25rem;
  margin-bottom: 76rem;
}
.about_us_heading::after {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 1000rem;
  height: 6rem;
  background: #848488;
  content: "";
  display: block;
}

.about_us_text {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  line-height: 125%;
  color: #000;
  margin-bottom: 20rem;
}

.about_us__buttons {
  display: flex;
  align-items: center;
  gap: 11rem;
}

.about_us__buttons__form {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background: #0389cd;
  border-radius: 4rem;
  width: 100%;
  height: 60rem;
}

.about_us__buttons__call {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25rem;
  line-height: 100%;
  text-align: center;
  color: #000;
  border: 1rem solid #000;
  border-radius: 4rem;
  width: 100%;
  height: 54rem;
  background: none;
}

.about-su__bg {
  width: 952rem;
  height: 1222rem;
  top: 0;
  left: 0;
}

.projects {
  margin-top: 80rem;
}
.projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__heading {
  position: relative;
  padding: 0 9rem 0 25rem;
  margin-bottom: 100rem;
}
.projects__heading span {
  color: #636363;
}
.projects__heading::after {
  content: "";
  display: block;
  width: 1000rem;
  height: 6rem;
  background: #848488;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.projects__heading::before {
  content: "";
  display: block;
  width: 1000rem;
  height: 6rem;
  background: #848488;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.projects-slider {
  height: 850rem;
  max-width: 100%;
}

.project-slide {
  position: relative;
  display: flex;
  justify-content: center;
}

.project-slide-img {
  max-height: 100%;
}

.projects-slider-next, .projects-slider-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 150rem;
  height: 150rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  transition: all 0.4s ease;
}
.projects-slider-next.swiper-button-disabled, .projects-slider-prev.swiper-button-disabled {
  opacity: 0.3;
}

.projects-slider-prev {
  left: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 100rem;
  color: #fff;
}

.projects-slider-next {
  right: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 100rem;
  color: #fff;
}

.projects__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 45rem;
  line-height: 100%;
  color: #fff;
  border-radius: 4rem;
  width: 760rem;
  height: 107rem;
  background: #0389cd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70rem;
}

.form {
  margin-top: 57rem;
  position: relative;
}
.form::after {
  content: "";
  display: block;
  width: 45%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(48, 48, 48, 0.9);
}
.form::before {
  content: "";
  display: block;
  width: 55%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #000;
  z-index: 2;
}
.form .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.form-text {
  width: 651rem;
  padding-top: 205rem;
}

.form__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 80rem;
  line-height: 150%;
  color: #fff;
  width: 572rem;
  position: relative;
  margin-bottom: 28rem;
}
.form__heading::after {
  content: "";
  display: block;
  width: 315rem;
  height: 6rem;
  background: #848488;
  position: absolute;
  top: 55rem;
  right: -84rem;
}

.form-text__text {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 30rem;
  color: #fff;
}

.form_block {
  position: relative;
  padding-top: 150rem;
  display: flex;
  justify-content: center;
}

.form_block__lamp {
  position: absolute;
  top: 114rem;
  right: 77rem;
  width: 92rem;
  height: 148rem;
  z-index: 3;
}

.form_block__paper {
  position: absolute;
  width: 321rem;
  height: 254rem;
  bottom: 80rem;
  left: -133rem;
  z-index: 3;
}

.form_action {
  width: 810rem;
  height: 588rem;
  background: #fff;
  margin-bottom: 150rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 65rem;
}

.form_input {
  width: 613rem;
  padding-bottom: 18rem;
  border-bottom: 1rem solid #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25rem;
  line-height: 100%;
}

.form_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.form_submit {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  border-radius: 4rem;
  width: 433rem;
  height: 60rem;
  background: #0389cd;
}

.cotalog__heading {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 16rem;
  color: #636363;
  margin-bottom: 55rem;
}
.cotalog__heading::after {
  content: "";
  display: block;
  width: 2000rem;
  height: 6rem;
  background: #848488;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.catalog__wrappper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 115rem 105rem;
  width: 100%;
}

.catalog__item {
  position: relative;
}
.catalog__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(74, 74, 74, 0.82);
  width: 100%;
  height: 100%;
}

.catalog__item__href {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.catalo__item__hading {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 50rem;
  line-height: 100%;
  color: #fff;
  position: relative;
  z-index: 3;
  border-bottom: 4rem solid #848488;
  position: absolute;
  top: 240rem;
  left: 145rem;
}

.catalog__item__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__item__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100rem;
  height: 100rem;
  background: #0389cd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.catalog_item_button_svg {
  width: 100%;
  height: 100%;
}

.text-block {
  height: 461rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 111rem;
}
.text-block .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 128rem;
}
.text-block .about_us__buttons {
  width: 843rem;
  margin-top: 44rem;
}

.text-block__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  line-height: 125%;
  color: #000;
  width: 1406rem;
}

.text-block__bg {
  width: 431rem;
  height: 461rem;
  left: 0;
  top: 0;
  position: absolute;
}

.heading span {
  color: #636363;
}

.why-we__heading {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 10rem;
  margin-bottom: 70rem;
}
.why-we__heading::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 2000rem;
  height: 6rem;
  background: #848488;
}

.why-we_wrapper {
  position: relative;
  padding: 290rem 0 175rem;
  z-index: 2;
}
.why-we_wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90rem;
}

.why-we_row {
  display: flex;
  justify-content: center;
  gap: 400rem;
  position: relative;
  z-index: 2;
}

.why_we_item {
  display: flex;
  gap: 25rem;
  max-width: 754rem;
}

.why_we_item_num {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 48rem;
  line-height: 100%;
  color: #fff;
  width: 80rem;
  height: 80rem;
  border-radius: 100%;
  background: #0389cd;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why_we_item__heading {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  line-height: 125%;
  color: #fff;
  margin-bottom: 14rem;
}

.why_we_item__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  line-height: 125%;
  color: #fff;
}

.why-we_wrapper_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-we__pluss {
  display: flex;
  gap: 147rem;
  margin-top: -100rem;
  z-index: 5;
  position: relative;
}

.why-we_pluss_item {
  padding: 30rem 18rem;
  border: 3rem solid #b0b0b0;
  border-radius: 10rem;
  width: 447rem;
  box-shadow: 16rem 17rem 11rem 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.why-we_pluss_item_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  line-height: 150%;
  color: #000;
}
.why-we_pluss_item_text span {
  font-weight: 500;
  font-size: 25rem;
}

.list_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 149rem;
  margin-top: 110rem;
}
.list_block .container {
  border: 7rem solid #0389cd;
  padding: 100rem 70rem 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_block__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40rem;
  color: #000;
  margin-bottom: 50rem;
  width: 100%;
}

.list_block__list {
  display: flex;
  flex-direction: column;
  gap: 20em;
}

.list_block__list__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  color: #000;
}

.list_block__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 45rem;
  line-height: 56%;
  text-align: center;
  color: #fff;
  border-radius: 4rem;
  width: 381rem;
  height: 107rem;
  background: #0389cd;
  margin-top: 53rem;
}

.list_block__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 684rem;
  height: 714rem;
}

.brends__heading {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 10rem;
  line-height: 100%;
  margin-bottom: 75rem;
}
.brends__heading::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 2000rem;
  height: 6rem;
  background: #848488;
}

.brends_wrapper {
  display: flex;
  align-items: center;
  gap: 22rem;
}

.brends-img {
  width: 841rem;
  height: 620rem;
}

.brends-texts__text {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  line-height: 125%;
  color: #000;
  margin-bottom: 50rem;
}

.preimushestva {
  position: relative;
  margin-top: 30rem;
  padding: 64rem 0;
  background: #323131;
}

.preimushestva_heading {
  color: white;
  margin-bottom: 50rem;
  max-width: 1361rem;
}
.preimushestva_heading span {
  color: #d7d7d7;
}

.preim__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20em;
}

.preim__list__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 35rem;
  line-height: 143%;
  color: #fff;
}
.preim__list__item span {
  font-weight: 500;
}

.preim__bg {
  position: absolute;
  width: auto;
  height: 100%;
  right: 0;
  top: 0;
}

.process__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 41rem 57rem;
}

.process-item {
  padding: 16rem 10rem;
  box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.04), 0 1rem 3rem 0 rgba(0, 0, 0, 0.06), 0 3rem 12rem 0 rgba(0, 0, 0, 0.1);
  background: #faf9f9;
  display: flex;
}

.process-item__num {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 80rem;
  line-height: 79%;
  color: #0389cd;
}

.process-item__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40rem;
  line-height: 125%;
  color: #000;
  margin-bottom: 10rem;
}

.process-item__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 35rem;
  line-height: 143%;
  color: #000;
}

.process-btn {
  margin-top: 37rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.process_form_btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 45rem;
  line-height: 56%;
  text-align: center;
  color: #fff;
  border-radius: 4rem;
  width: 374rem;
  height: 107rem;
  background: #0389cd;
}

.contacts {
  position: relative;
  margin-top: 40rem;
}
.contacts .container {
  display: flex;
  justify-content: flex-end;
}

.contacts__map {
  width: 1086rem;
  height: 100%;
  position: absolute;
}

.contacts__info__texts {
  max-width: 653rem;
  padding: 172rem 0;
}

.contacts__heading {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 60rem;
  line-height: 83%;
  color: #000;
  margin-bottom: 40rem;
}

.contacts__info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 35rem;
  line-height: 125%;
  color: #000;
  margin-bottom: 75rem;
}
.contacts__info span {
  font-size: 40rem;
  font-weight: 500;
}

.footer {
  padding: 77rem 0 13rem;
  background: #1e1e1e;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 35rem;
  margin-bottom: 30rem;
}

.footer-nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #fff;
}

.footer-logo {
  width: 134rem;
  height: 134rem;
  margin-bottom: 52rem;
}

.footer-info-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  text-align: center;
  color: #fff;
}
.footer-info-text span {
  font-weight: 600;
}

.polytic-footer {
  margin-top: 45rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  font-variant: all-small-caps;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
  margin-bottom: 61rem;
}

.footer-avtor {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  font-variant: all-small-caps;
  text-align: center;
  color: #fff;
}

@media (max-width: 1024px) {
  body, html {
    font-size: 0.2325581395vw;
  }
  .container {
    width: 382rem;
    margin-left: calc((100vw - 382rem) / 2);
    margin-right: calc((100vw - 382rem) / 2);
  }
  .header .container {
    justify-content: space-between;
  }
  .header-logo {
    width: 53rem;
    height: 20rem;
    margin-right: 20rem;
  }
  .header-nav {
    margin-right: 13rem;
    gap: 10rem;
  }
  .header-nav__item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 7rem;
    color: #434343;
  }
  .header-contacts__phone {
    display: none;
  }
  .header-contacts__form-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color: #fff;
    border-radius: 2rem;
    width: 51rem;
    height: 9rem;
    background: #0389cd;
  }
  .about_us {
    overflow: hidden;
  }
  .about_us__content {
    overflow: hidden;
    width: 100%;
  }
  .front-block {
    padding-top: 104rem;
    height: 601rem;
  }
  .front-block .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .front-block__heading {
    font-size: 18rem;
    text-align: center;
    margin-bottom: 5rem;
  }
  .front-block__text {
    font-size: 20rem;
    text-align: center;
    max-width: 301rem;
    margin-bottom: 7rem;
  }
  .front-block__button {
    font-size: 8rem;
    border-radius: 4rem;
    width: 92rem;
    height: 22rem;
  }
  .front-block__pluss {
    display: none;
  }
  .about_us {
    margin-top: 10rem;
  }
  .about_us__content::after {
    display: none;
  }
  .about_us_heading {
    margin-bottom: 16rem;
  }
  .heading {
    font-size: 15rem;
  }
  .heading::after {
    height: 2rem;
  }
  .heading::before {
    height: 2rem;
  }
  .about_us_text {
    font-size: 10rem;
    width: 160rem;
  }
  .about_us__buttons {
    width: 160rem;
  }
  .about_us__buttons__form {
    font-size: 8rem;
    border-radius: 4rem;
    width: 110rem;
    height: 17rem;
  }
  .about_us__buttons__call {
    display: none;
  }
  .about-su__bg {
    width: 232rem;
    height: 299rem;
    margin-top: 30rem;
  }
  .about_us_content_for_mob {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .projects .container {
    align-items: flex-start;
  }
  .projects__heading {
    padding-left: 0;
  }
  .projects__heading::before {
    display: none;
  }
  .projects-slider {
    height: 200rem;
  }
  .projects-slider-prev, .projects-slider-next {
    font-size: 30rem;
    width: 37rem;
    height: 37rem;
  }
  .projects__button {
    display: none;
  }
  .form {
    background: black;
    margin-bottom: 20rem;
  }
  .form::before {
    display: none;
  }
  .form::after {
    display: none;
  }
  .form .container {
    flex-direction: column;
  }
  .form-text {
    width: 100%;
    padding-top: 20rem;
  }
  .form__heading {
    font-size: 15rem;
    margin-bottom: 10rem;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 10rem;
  }
  .form__heading::after {
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    left: 100%;
  }
  .form-text__text {
    font-size: 12rem;
    margin-bottom: 15rem;
  }
  .form_block {
    padding-top: 40rem;
  }
  .form_block__lamp {
    width: 47rem;
    height: 76rem;
  }
  .form_block__paper {
    width: 165rem;
    height: 130rem;
    left: -63rem;
  }
  .form_action {
    width: 100%;
    padding: 20rem;
    height: auto;
    gap: 35rem;
  }
  .form_input {
    width: 100%;
    font-size: 10rem;
    padding-bottom: 10rem;
  }
  .form_submit {
    width: 100%;
    height: auto;
    font-size: 12rem;
    padding: 6rem 10rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .form_bg {
    display: none;
  }
  .catalog__wrappper {
    gap: 20rem 14rem;
  }
  .catalo__item__hading {
    font-size: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: none;
  }
  .catalog__item__button {
    width: 25rem;
    height: 25rem;
  }
  .text-block {
    height: 160rem;
    margin-bottom: 40rem;
  }
  .text-block .about_us__buttons__call {
    display: flex;
    font-size: 10rem;
    border: 1rem solid #000;
    border-radius: 4rem;
    width: 131rem;
    height: 18rem;
    align-items: center;
    justify-content: center;
  }
  .text-block .container {
    padding-top: 18rem;
  }
  .text-block__content {
    width: 287rem;
  }
  .text-block__text {
    width: 100%;
    font-size: 10rem;
  }
  .text-block__bg {
    width: 144rem;
    height: 154rem;
  }
  .why-we__heading {
    margin-bottom: 0;
  }
  .why-we_wrapper {
    padding-bottom: 30rem;
    padding-top: 30rem;
  }
  .why-we_wrapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30rem;
  }
  .why-we_row {
    flex-direction: column;
    gap: 30rem;
  }
  .why_we_item {
    border: 3rem solid #b0b0b0;
    border-radius: 10rem;
    width: 218rem;
    box-shadow: 16rem 17rem 11rem 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 7rem 5rem;
  }
  .why_we_item_num {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 20rem;
    line-height: 79%;
    color: #0389cd;
    background: none;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .why_we_item__heading {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 12rem;
    line-height: 125%;
    color: #000;
  }
  .why_we_item__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 150%;
    color: #000;
  }
  .why-we_wrapper_bg {
    display: none;
  }
  .why-we__pluss {
    display: none;
  }
  .why-we_pluss_item {
    font-size: 10rem;
    width: 100%;
  }
  .why-we_pluss_item_text {
    font-size: 10rem;
    width: 100%;
  }
  .list_block {
    margin-top: 30rem;
    padding-bottom: 20rem;
  }
  .list_block .container {
    padding: 19rem 4rem 10rem 10rem;
    border: 2rem solid #0389cd;
  }
  .list_block__heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12rem;
    color: #000;
    margin-bottom: 15rem;
  }
  .list_block__list {
    list-style: inside;
  }
  .list_block__list__item {
    font-size: 10rem;
  }
  .list_block__button {
    font-size: 10rem;
    width: 1;
    border-radius: 4rem;
    width: 85rem;
    height: 24rem;
  }
  .list_block__bg {
    display: none;
  }
  .brends .about_us__buttons__call {
    display: flex;
    font-size: 10rem;
    border: 1rem solid #000;
    border-radius: 4rem;
    width: 131rem;
    height: 18rem;
    align-items: center;
    justify-content: center;
  }
  .brends .about_us__buttons {
    width: 100%;
  }
  .brends__heading {
    margin-bottom: 20rem;
  }
  .brends_wrapper {
    gap: 10rem;
  }
  .brends-img {
    width: 190rem;
    height: 136rem;
  }
  .brends-texts {
    width: 200rem;
  }
  .brends-texts__text {
    font-size: 10rem;
    margin-bottom: 10rem;
  }
  .preim__list {
    margin-bottom: 100rem;
  }
  .preim__list__item {
    font-size: 10rem;
  }
  .process {
    margin-top: 30rem;
  }
  .process__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .process-item {
    padding: 4rem 5rem;
    width: 245rem;
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.04), 0 1rem 3rem 0 rgba(0, 0, 0, 0.06), 0 3rem 12rem 0 rgba(0, 0, 0, 0.1);
    background: #faf9f9;
  }
  .process-item__num {
    font-size: 30rem;
    line-height: 79%;
  }
  .process-item__heading {
    font-size: 12rem;
    margin-bottom: 3rem;
  }
  .process-item__text {
    font-size: 10rem;
  }
  .process_form_btn {
    font-size: 12rem;
    border-radius: 4rem;
    width: 107rem;
    height: 21rem;
  }
  .contacts__map {
    width: 203rem;
    height: 189rem;
  }
  .contacts__info__texts {
    max-width: 183rem;
    padding: 30rem 0;
  }
  .contacts__heading {
    font-size: 15rem;
    margin-bottom: 30rem;
  }
  .contacts__info {
    font-size: 10rem;
    margin-bottom: 20rem;
  }
  .contacts__info span {
    font-size: 10rem;
  }
  .footer {
    padding: 20rem 0 10rem;
  }
  .footer-nav {
    gap: 15rem;
  }
  .footer-nav__item {
    font-size: 7rem;
  }
  .footer-logo {
    width: 70rem;
    height: 70rem;
    margin-bottom: 14rem;
  }
  .footer-info-text {
    font-size: 5rem;
  }
  .footer-info-text span {
    font-size: 5rem;
  }
  .polytic-footer {
    font-size: 5rem;
    margin-bottom: 26rem;
  }
  .footer-avtor {
    display: none;
  }
  .about_us {
    margin-bottom: 20rem;
  }
  .projects {
    margin-top: 0;
  }
  .form_block__lamp {
    top: 24rem;
    right: 47rem;
  }
}/*# sourceMappingURL=style.css.map */